# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Preview

on:
  pull_request: 
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Test
        uses: ./
        with:
          TOKEN: ${{ secrets.TOKEN }}
          REPO: akremi-khayreddine/dx-webhook
          JOB_NAME: 'test'
          JOB_STATUS: ${{ job.status }}
          RUN_ID: ${{ github.run_id }}
          PIPELINE_ID: private-actions-loader
